div.page
{
    font-family: 'Allan', cursive;
    font-family: 'Electrolize', sans-serif;
    font-family: 'Hind Madurai', sans-serif;
    background-color:#d4d4d4;
    height:620px;
    width:900px;
    background-image:url('https://image.freepik.com/vecteurs-libre/homme-affaires-travaille-bureau-dessin-anime-ordinateur-portable_39663-75.jpg');
    background-repeat: no-repeat;
    background-position: 25%;
    background-size: 11cm;
    background-position: 22pc;
    background-size: inherit;
}
    
 
    




